USE [master]
GO
/****** Object:  Database [FZ_DB]    Script Date: 08-05-2024 11:08:46 ******/
CREATE DATABASE [FZ_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FDMSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FDMSDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FDMSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FDMSDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FZ_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FZ_DB]
GO
/****** Object:  Table [dbo].[STATUS]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS](
	[ID] [int] NULL,
	[STATUS] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MENU]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MENU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](max) NOT NULL,
	[PRICE] [money] NULL,
	[CATEGORY_ID] [int] NULL,
	[IMG_URL] [nvarchar](max) NULL,
	[STATUS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[MENU_VIEW]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MENU_VIEW] AS 
SELECT M.ID, M.NAME,M.DESCRIPTION,M.PRICE,M.IMG_URL,M.CATEGORY_ID,M.STATUS_ID,S.STATUS 
FROM TBL_MENU M, STATUS S
WHERE S.ID = M.STATUS_ID
GO
/****** Object:  Table [dbo].[TBL_ADDRESS]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[ADDRESS] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ORDERS]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ORDERS](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[ORDER_STATUS_ID] [int] NULL,
	[ADDRESS_ID] [int] NULL,
	[ORDER_COST] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ORDER_STATUS]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ORDER_STATUS](
	[ID] [int] NOT NULL,
	[STATUS] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USERS]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [int] NULL,
	[FNAME] [varchar](20) NULL,
	[LNAME] [varchar](20) NULL,
	[EMAIL] [varchar](255) NULL,
	[PHONE_NUMBER] [varchar](15) NULL,
	[WALLET] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ORDERVIEW]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[ORDERVIEW] AS 
SELECT O.ID, O.USER_ID,CONCAT(U.FNAME,' ',U.LNAME) AS USER_NAME, O.order_date, O.ORDER_COST,A.ADDRESS, O.ORDER_STATUS_ID,S.STATUS FROM TBL_ORDERS O
INNER JOIN TBL_ORDER_STATUS S
ON S.ID = O.ORDER_STATUS_ID
INNER JOIN TBL_ADDRESS A
ON O.ADDRESS_ID = A.ID
INNER JOIN TBL_USERS U
ON U.ID = O.user_id
GO
/****** Object:  Table [dbo].[TBL_CHATMAPPING]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CHATMAPPING](
	[CHAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[ACTIVE] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[USERSCHAT]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[USERSCHAT] AS
SELECT U.FNAME,U.LNAME,C.CHAT_ID, C.ACTIVE FROM TBL_CHATMAPPING C 
JOIN TBL_USERS U
ON U.ID = C.USER_ID
GO
/****** Object:  Table [dbo].[TBL_AUTH]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_AUTH](
	[EMAIL] [varchar](255) NULL,
	[PASSWORD] [varchar](max) NULL,
	[USERID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MESSAGE]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MESSAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[MSG] [nvarchar](max) NULL,
	[TIME_STAMP] [datetime] NULL,
	[IS_IMG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MSG]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MSG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[CHAT_ID] [int] NULL,
	[MSG] [nvarchar](max) NULL,
	[TIME_STAMP] [datetime] NULL,
	[IS_IMG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_order_items]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[STATUS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ORDERMAPPING]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ORDERMAPPING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NULL,
	[DISH_ID] [int] NULL,
	[QUANTITY] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ROLE]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ROLE](
	[ID] [int] NOT NULL,
	[ROLE] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ORDERS] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[TBL_ADDRESS]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_AUTH]  WITH CHECK ADD FOREIGN KEY([USERID])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_CHATMAPPING]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_order_items]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[TBL_MENU] ([ID])
GO
ALTER TABLE [dbo].[TBL_order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[TBL_ORDERS] ([id])
GO
ALTER TABLE [dbo].[TBL_ORDERMAPPING]  WITH CHECK ADD FOREIGN KEY([DISH_ID])
REFERENCES [dbo].[TBL_MENU] ([ID])
GO
ALTER TABLE [dbo].[TBL_ORDERMAPPING]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
ALTER TABLE [dbo].[TBL_ORDERS]  WITH CHECK ADD FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[TBL_ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[TBL_ORDERS]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[TBL_USERS] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[ADDID]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADDID] @EMAILID VARCHAR(50)
AS
UPDATE TBL_AUTH SET USERID = (SELECT ID FROM TBL_USERS WHERE EMAIL = @EMAILID) 
WHERE EMAIL = @EMAILID ; 
GO
/****** Object:  StoredProcedure [dbo].[ADDORDERITEMS]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ADDORDERITEMS] @USER INT , @ORDER INT
AS
	INSERT INTO TBL_order_items(order_ID,ITEM_ID, quantity) 
	SELECT @ORDER as order_id ,dish_id,quantity FROM TBL_ORDERMAPPING 
	WHERE USER_ID = @USER;
GO
/****** Object:  StoredProcedure [dbo].[GETUSERORDER]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[GETUSERORDER] @USER_ID INT
  AS
  SELECT M.ID,M.NAME,M.IMG_URL,M.PRICE AS PRICE,O.QUANTITY FROM MENU_VIEW M , TBL_ORDERMAPPING O
  WHERE M.ID = O.DISH_ID AND O.USER_ID = @USER_ID
GO
/****** Object:  StoredProcedure [dbo].[PLACEORDER]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PLACEORDER] @USER INT,@PRICE INT,@ADR INT
AS
	DECLARE @LASTID INT;

	INSERT INTO TBL_ORDERS(user_id,order_date,ORDER_STATUS_ID,ADDRESS_ID,ORDER_COST ) 
	VALUES (@USER, GETDATE(),100 ,@ADR,@PRICE); 
	SET @LASTID = SCOPE_IDENTITY();
	EXEC ADDORDERITEMS @USER = @USER , @ORDER = @LASTID

GO
/****** Object:  StoredProcedure [dbo].[sp_setchatid]    Script Date: 08-05-2024 11:08:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_setchatid] @id int
AS 
INSERT INTO TBL_CHATMAPPING(USER_ID,ACTIVE) VALUES(@id,1);
SELECT CHAT_ID FROM TBL_CHATMAPPING WHERE USER_ID = @id;
GO
USE [master]
GO
